<div id="searhPhysiciansDiv" class="row">
	<div class="col-md-8 text-center mx-auto">
		<h1>Find a Doctor At A Location!</h1>
		<form (ngSubmit)="searchPhysicians()" #searchForm="ngForm">
			<div class="input-group">
				<input id="searchPhysicians" 
					class="form-control" 
					type="text" 
					placeholder="Enter in either your doctor's name or address"
					ngModel
					name="searchPhysicians"/>
				<div class="input-group-append">
					<span> <button type="submit" class="btn btn-primary">Search</button> </span>
				</div>
			</div>
		</form>
	</div>
</div>