<div class="row">	
	<div class="offset-md-1 col-md-10 ">

		<a [routerLink]="['/']"> << Back </a>

		<h2>Upload Your Doctor</h2>
		
		<form id="physicianForm" (ngSubmit) = "insertPhysician()" novalidate [formGroup]="physicianForm">
			

			<div id="firstNameFormGroup" class="form-group" formGroupName="firstNameFormGroup">
				<label for="firstName">First Name</label>
				<input id="firstNameInput" type="text" class="form-control" formControlName="firstNameInput" [(ngModel)]="phys.firstName" required [ngClass]="{
					'is-invalid': firstNameInput.invalid &&  (firstNameInput.dirty || firstNameInput.touched)
				}"/>
				<div class="form-control-feedback invalid-feedback"
           			*ngIf="firstNameInput.invalid &&  (firstNameInput.dirty || firstNameInput.touched)">
        			First name is required
     			</div>
			</div>
			
			<div id="lastNameFormGroup" class="form-group" formGroupName="lastNameFormGroup">
				<label for="lastName">Last Name</label>
				<input id="lastNameInput" type="text" class="form-control" formControlName="lastNameInput" [(ngModel)]="phys.lastName" required [ngClass]="{
					'is-invalid': lastNameInput.invalid &&  (lastNameInput.dirty || lastNameInput.touched)
				}"/>
				<div class="form-control-feedback invalid-feedback"
           			*ngIf="lastNameInput.invalid &&  (lastNameInput.dirty || lastNameInput.touched)">
        			Last name is required
     			</div>
			</div>
			<div id="addressFormGroup" class="form-group" formGroupName="addressFormGroup">
				<label for="address">Street Address</label>
				<input id="addressInput" type="text" class="form-control" formControlName="addressInput" [(ngModel)]="phys.address" required [ngClass]="{
					'is-invalid': addressInput.invalid &&  (addressInput.dirty || addressInput.touched)
				}"/>
				<div class="form-control-feedback invalid-feedback"
           			*ngIf="addressInput.invalid &&  (addressInput.dirty || addressInput.touched)">
        			Street address is required
     			</div>
			</div>
			<!--
			<div id="provinceFormGroup" name="provinceFormGroup" class="form-group">
				<label for="province">Province</label>
				<select id="provinceSelector" class="form-control" name="province" [(ngModel)]="phys.province" required>
					<option value="" disabled selected>Select One</option>
					<option>British Columbia</option>
					<option>Alberta</option>
					<option>Sasketchewan</option>
					<option>Manitoba</option>
					<option>Ontario</option>
					<option>Quebec</option>
					<option>Nova Scotia</option>
					<option>New Brunswick</option>
					<option>Prince Edward Island</option>
					<option>Newfoundland</option>
					<option>Yukon</option>
					<option>Northwest Territories</option>
					<option>Nunavut</option>
				</select>
			</div>
			-->
			<div id="cityFormGroup" class="form-group" formGroupName="cityFormGroup">
				<label for="city">City</label>
				<input type="text" class="form-control" formControlName="cityInput" [(ngModel)]="phys.city" required [ngClass]="{
					'is-invalid': cityInput.invalid &&  (cityInput.dirty || cityInput.touched)
				}"/>
				<div class="form-control-feedback invalid-feedback"
           			*ngIf="cityInput.invalid &&  (cityInput.dirty || cityInput.touched)">
        			City is required
     			</div>
			</div>
			<div id="postalCodeFormGroup" class="form-group" formGroupName="postalCodeFormGroup">
				<label for="postalCode">Postal Code</label>
				<input id="postalCodeInput" type="text"  class="form-control" formControlName="postalCodeInput" placeholder="(eg. V1V 1V1)" [(ngModel)]="phys.postalCode" required [ngClass]="{
					'is-invalid': postalCodeInput.invalid &&  (postalCodeInput.dirty || postalCodeInput.touched)
				}"/>
				<div class="form-control-feedback invalid-feedback"
           			*ngIf="postalCodeInput.invalid &&  (postalCodeInput.dirty || postalCodeInput.touched)">
					<p class="text-danger" *ngIf="postalCodeInput.errors.required">Postal code is required</p>
      				<p class="text-danger" *ngIf="postalCodeInput.errors.pattern">Postal code must be of the format X1X 1X1</p>
     			</div>
			</div>
			<div id="emailFormGroup" class="form-group" formGroupName="emailFormGroup">
				<label for="email">Email</label>
				<input id="emailInput" type="text" formControlName="emailInput" placeholder="(eg. example@test.com)" class="form-control" [(ngModel)]="phys.email" [ngClass]="{
					'is-invalid': emailInput.invalid &&  (emailInput.dirty || emailInput.touched)
				}"/>
				<div class="form-control-feedback invalid-feedback"
           			*ngIf="emailInput.invalid &&  (emailInput.dirty || emailInput.touched)">
        			Email is of invalid format. Example: someone@email.com
     			</div>
			</div>
			<div id="phoneNumberFormGroup" class="form-group" formGroupName="phoneNumberFormGroup">
				<label for="phoneNumber">Phone</label>
				<input id="phoneNumberInput" type="text" formControlName="phoneNumberInput" placeholder="(eg. 1112223333)" class="form-control" [(ngModel)]="phys.phoneNumber" required [ngClass]="{
					'is-invalid': phoneNumberInput.invalid &&  (phoneNumberInput.dirty || phoneNumberInput.touched)
				}"/>
				<div class="form-control-feedback invalid-feedback"
           			*ngIf="phoneNumberInput.invalid &&  (phoneNumberInput.dirty || phoneNumberInput.touched)">
        			<p class="text-danger" *ngIf="phoneNumberInput.errors.required">Phone number is required.</p>
      				<p class="text-danger" *ngIf="phoneNumberInput.errors.pattern">Phone number must be in all digits.</p>
      				<p class="text-danger" *ngIf="phoneNumberInput.errors.minLength">Phone number must be at least 10 digits in length.</p>
     			</div>
			</div>
			<div id="descriptionFormGroup" class="form-group" formGroupName="descriptionFormGroup">
				<label for="phone">Description</label>
				<textarea id="descriptionInputs" formControlName="descriptionInput" rows="4" placeholder="(Max 200 characters)" class="form-control" [(ngModel)]="phys.description" required ></textarea>
			</div>
			<div class="form-group">
				<button id="submitPhysiciansFormButton" class="btn btn-primary" [disabled]="!physicianForm.valid">Submit</button>
			</div>
		</form>
	</div>

</div>