
<a [routerLink]="['/']"> << Back </a>

<h2>Upload Your Doctor</h2>

<p>* means this is required.</p>

<form id="physicianForm" (ngSubmit) = "insertPhysician()" novalidate [formGroup]="physicianForm">

<div class="row">
	<div class="col-md-12">
		<div id="firstNameFormGroup" class="form-group" formGroupName="firstNameFormGroup">
			<label for="firstName" [ngClass]="{
				'text-danger': firstNameInput.invalid &&  (firstNameInput.dirty || firstNameInput.touched)
			}">First Name *</label>
			<input id="firstNameInput" type="text" class="form-control" formControlName="firstNameInput" [ngClass]="{
				'is-invalid': firstNameInput.invalid &&  (firstNameInput.dirty || firstNameInput.touched)
			}"/>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="firstNameInput.invalid &&  (firstNameInput.dirty || firstNameInput.touched)">
    			First name is required
 			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="lastNameFormGroup" class="form-group" formGroupName="lastNameFormGroup">
			<label for="lastName" [ngClass]="{
				'text-danger': lastNameInput.invalid &&  (lastNameInput.dirty || lastNameInput.touched)
			}">Last Name *</label>
			<input id="lastNameInput" type="text" class="form-control" formControlName="lastNameInput" [ngClass]="{
				'is-invalid': lastNameInput.invalid &&  (lastNameInput.dirty || lastNameInput.touched)
			}"/>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="lastNameInput.invalid &&  (lastNameInput.dirty || lastNameInput.touched)">
    			Last name is required
 			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="imagePathFormGroup" class="form-group" formGroupName="imagePathFormGroup">
			<label for="imagePath">Image Path</label>
			<input id="imagePathInput" type="text" class="form-control" formControlName="imagePathInput" #imagePath/>
		</div>
	</div>
</div>
<div class="row" *ngIf="imagePath.value">
	<div class="col-md-6">
		<img [src]="imagePath.value" class="img-fluid">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="addressFormGroup" class="form-group" formGroupName="addressFormGroup">
			<label for="address" [ngClass]="{
				'text-danger': addressInput.invalid &&  (addressInput.dirty || addressInput.touched)
			}">Street Address *</label>
			<input id="addressInput" type="text" class="form-control" formControlName="addressInput" [ngClass]="{
				'is-invalid': addressInput.invalid &&  (addressInput.dirty || addressInput.touched)
			}"/>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="addressInput.invalid &&  (addressInput.dirty || addressInput.touched)">
    			Street address is required
 			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="provinceFormGroup" class="form-group" formGroupName="provinceFormGroup">
			<label for="province" [ngClass]="{
				'text-danger': provinceSelector.invalid &&  (provinceSelector.dirty || provinceSelector.touched)
			}">Province *</label>
			<select id="provinceSelector" class="form-control" formControlName="provinceSelector" [ngClass]="{
				'is-invalid': provinceSelector.invalid &&  (provinceSelector.dirty || provinceSelector.touched)
			}">
				<option value="" disabled selected>Select One</option>
				<option>British Columbia</option>
				<option>Alberta</option>
				<option>Sasketchewan</option>
				<option>Manitoba</option>
				<option>Ontario</option>
				<option>Quebec</option>
				<option>Nova Scotia</option>
				<option>New Brunswick</option>
				<option>Prince Edward Island</option>
				<option>Newfoundland</option>
				<option>Yukon</option>
				<option>Northwest Territories</option>
				<option>Nunavut</option>
			</select>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="provinceSelector.invalid &&  (provinceSelector.dirty || provinceSelector.touched)">
    			Province is required
 			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="cityFormGroup" class="form-group" formGroupName="cityFormGroup">
			<label for="city" [ngClass]="{
				'text-danger': cityInput.invalid &&  (cityInput.dirty || cityInput.touched)
			}">City *</label>
			<input type="text" class="form-control" formControlName="cityInput" [ngClass]="{
				'is-invalid': cityInput.invalid &&  (cityInput.dirty || cityInput.touched)
			}"/>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="cityInput.invalid &&  (cityInput.dirty || cityInput.touched)">
    			City is required
 			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="postalCodeFormGroup" class="form-group" formGroupName="postalCodeFormGroup">
			<label for="postalCode" [ngClass]="{
				'text-danger': postalCodeInput.invalid &&  (postalCodeInput.dirty || postalCodeInput.touched)
			}">Postal Code *</label>
			<input id="postalCodeInput" type="text"  class="form-control" formControlName="postalCodeInput" placeholder="(eg. V1V 1V1)" [ngClass]="{
				'is-invalid': postalCodeInput.invalid &&  (postalCodeInput.dirty || postalCodeInput.touched)
			}"/>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="postalCodeInput.invalid &&  (postalCodeInput.dirty || postalCodeInput.touched)">
				<p class="text-danger" *ngIf="postalCodeInput.errors.required">Postal code is required</p>
  				<p class="text-danger" *ngIf="postalCodeInput.errors.pattern">Postal code must be of the format X1X 1X1</p>
 			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="emailFormGroup" class="form-group" formGroupName="emailFormGroup">
			<label for="email" [ngClass]="{
				'text-danger': emailInput.invalid &&  (emailInput.dirty || emailInput.touched)
			}">Email</label>
			<input id="emailInput" type="text" formControlName="emailInput" placeholder="(eg. example@test.com)" class="form-control" [ngClass]="{
				'is-invalid': emailInput.invalid &&  (emailInput.dirty || emailInput.touched)
			}"/>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="emailInput.invalid &&  (emailInput.dirty || emailInput.touched)">
    			Email is of invalid format. Example: someone@email.com
 			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="phoneNumberFormGroup" class="form-group" formGroupName="phoneNumberFormGroup">
			<label for="phoneNumber" [ngClass]="{
				'text-danger': phoneNumberInput.invalid &&  (phoneNumberInput.dirty || phoneNumberInput.touched)
			}">Phone *</label>
			<input id="phoneNumberInput" type="text" formControlName="phoneNumberInput" placeholder="(eg. 1112223333)" class="form-control" [ngClass]="{
				'is-invalid': phoneNumberInput.invalid &&  (phoneNumberInput.dirty || phoneNumberInput.touched)
			}"/>
			<div class="form-control-feedback invalid-feedback"
       			*ngIf="phoneNumberInput.invalid &&  (phoneNumberInput.dirty || phoneNumberInput.touched)">
    			<p class="text-danger" *ngIf="phoneNumberInput.errors.required">Phone number is required.</p>
  				<p class="text-danger" *ngIf="phoneNumberInput.errors.pattern">Phone number must be in all digits.</p>
  				<p class="text-danger" *ngIf="phoneNumberInput.errors.minlength">Phone number must be at least 10 digits in length.</p>
 			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-md-12">
		<div id="descriptionFormGroup" class="form-group" formGroupName="descriptionFormGroup">
			<label for="description" [ngClass]="{
				'text-danger': descriptionInput.invalid &&  (descriptionInput.dirty || descriptionInput.touched)
			}">Description</label>
			<textarea id="descriptionInputs" formControlName="descriptionInput" rows="4" placeholder="(Max 200 characters)" class="form-control" [ngClass]="{
				'is-invalid': descriptionInput.invalid &&  (descriptionInput.dirty || descriptionInput.touched)}"></textarea>
			<div class="form-control-feedback"
       			*ngIf="descriptionInput.invalid &&  (descriptionInput.dirty || descriptionInput.touched)">
    			<p class="text-danger">Description cannot be more than 200 characters long.</p>
 			</div>			
 		</div>
 	</div>
 </div>
<div class="form-group">
	<button id="submitPhysiciansFormButton" class="btn btn-primary" [disabled]="!physicianForm.valid">Submit</button>
</div>
</form>
