<div class="row">
	<div class="col-md-6">

		<div class="row">
			<a [routerLink]="['/']"> << Back </a>
		</div>

		<h1>Physicians In The System</h1>

		<div *ngFor="let physician of physicians">	
			
			<div class="row">
				<h3>Dr. {{physician.firstName}} {{physician.lastName}}</h3>
			</div>
			
			<div class="row">
				<p><strong>Address:</strong> {{physician.address}}</p>
				<p>{{physician.city}}, {{physician.province}}</p>
				<p>{{physician.postalCode}}</p>
			</div>
			
			<div class="row">
				<p><strong>Telephone:</strong> {{physician.phoneNumber}}</p>
			</div>
			
			<div class="row">
				<p><strong>Email:</strong> {{physician.email}}</p>
			</div>
			
			<div class="row">
				<p><strong>Description:</strong> {{physician.description}}</p>
			</div>

		</div>
	</div>
</div>