<form (ngSubmit)="searchPhysicians()" #searchForm="ngForm">
	<div class="input-group">
		<input id="searchPhysicians" 
				class="form-control" 
				type="text" 
				placeholder="Enter in either your doctor's name or address"
				ngModel
				required
				minlength="3"
				name="searchPhysicians"/>
		<div class="input-group-append">
			<span> <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid">Search</button> </span>
		</div>
	</div>
</form>
<div class="row">
	<div class="col-8">
		<h6>* Your search criteria must be at least 3 characters long!</h6>
	</div>
</div>
