<div class="physician-details">
	
	<div class="row">
		<div class="col-12">
			<button class="btn btn-link" (click)="onBack()">Back to Results</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			<h3>Dr. {{physician.firstName}} {{physician.lastName}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<img class="img-fluid" [src]="image" alt="assets/images/default-profile.jpg" style="max-height: 200px"/>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-1" *ngIf="totalRatingCount">
			<h5>{{totalRating}}</h5>
		</div>
		
		<div class="col-11">
			<star-rating-comp
					[starType]="'svg'"  
					[readOnly]="true" 
					[rating]="totalRating" 
					[showHalfStars]="true"
					[labelPosition]="'right'"
					[labelText]="totalRatingCount + (totalRatingCount === 1 ? ' Rating' : ' Ratings')"></star-rating-comp>	
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<p *ngIf="!totalRating">This physician has no ratings yet!</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-1">
			<fa name="map-marker"></fa>
		</div>
		<div class="col-11">
			{{physician.address}}
			<div class="row">
				<div class="col-12">
					{{physician.city}}, {{physician.province}}
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					{{physician.postalCode}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<fa name="phone"></fa><small>{{physician.phoneNumber}}</small>
		</div>
		<div class="col-6" *ngIf="physician.email">
			<fa name="envelope"></fa><small>{{physician.email}}</small>
		</div>
	</div>
	<hr>
	<div *ngIf="physician.officeHours && physician.officeHours.length > 0">
		<div class="row">
			<div class="col-12">
				<h6><strong>Office Hours:</strong></h6>
				<div class="row" *ngFor="let officeHour of physician.officeHours" >
					<div class="col-2">
						<strong>{{officeHour.day}}</strong>:
					</div>
					<div class="col-3">
						{{officeHour.startTime | date: "h:mma"}}
					</div>
					<div class="col-1">
						-
					</div>
					<div class="col-3">
						{{officeHour.endTime | date: "h:mma"}}
					</div>
				</div>
			</div>
			
		</div>
		<hr>
	</div>
	
	<div *ngIf="physician.description">
		<div class="row">
			<div class="col-12">
				<p>{{physician.description}}</p>
			</div>
		</div>
		<hr>
	</div>
	<form [formGroup]="userRatingForm" (ngSubmit)="onRate()" *ngIf="!rated">
		<div class="row">
			<div class="col-5">
				<star-rating-comp  [starType]="'svg'" [rating]="userRating" formControlName="userRatingControl" ></star-rating-comp>
			</div>
			<div class="col-7">
				<button type="submit" class="btn btn-primary" [disabled]="!userRatingForm.get('userRatingControl').touched">Rate this Physician!</button>
			</div>
		</div>
	</form>
	<div class="row" *ngIf="rated">
		<div class="col-12">
			<p>Thank you for rating this physician!</p>
		</div>
	</div>
	<!-- 	<p class="list-group-item-text"><strong>Latitude:</strong> {{physician.lat}}</p>
	<p class="list-group-item-text"><strong>Longitude:</strong> {{physician.long}}</p> -->
</div>

